*{
  margin: 0;
  padding: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, .95);
  --spacing: 350px;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-style: normal
}

P{
  margin-bottom: 15px;
}
.section p {
  margin-bottom: 0px;
}

body {
  overflow-x: hidden;
  background: white
}

main {
  width: 100vw;
  color: #fff;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12,1fr)
}

h1,h2,h3,blockquote,a {
  font-family: elevon,sans-serif;
  font-weight: 700;
  font-style: normal
}

a {
  text-decoration: none;
  font-size: 1.5rem
}

.logo {
  width: 110px;
  height: 35px;
  width: initial
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, +34%);
}

header {
  background: var(--dark-bg);
  grid-column: 1 / span 12;
  font-size: 2.5rem;
  padding: 2rem;
  max-height: 500px;
  min-width: 13rem;
}

section {
  grid-column: 2 / span 10;
  width: 25px;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing)
}

section img {
  width: 100%;
  height: 100%
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 10;
  margin-bottom: var(--spacing)
}

blockquote p {
  color: #000;
  background-color: #fff;
  font-size: 4rem;
  display: inline;
  line-height: 1
}

.left {
  grid-column: 6 / 11;
  min-width: 10rem
}

button {
  transition: .6s;
  font-size: 1rem;
  color: #a175f1;
  box-shadow: 10px -4px teal;
  background: #280363;
  color: #280363;
  background: rgb(161,117,241);
  width: 100px;
  height: 50px;
  font-weight: 700;
  border-radius: 5%;
  margin-right: 30px;
  min-width: 8rem
}

button:hover {
  transition: .6s;
  color: #a175f1;
  background: #280363
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;
  background: VAR(--dark-bg);
  flex-direction: column;
  text-align: center;
  width: 100vw;
  font-size: 20px;
}

.section p{
  background: VAR(--dark-bg);
  width: 100%;
}

.disclaimer {
  color: #ffffff69;
  font-size: 18px;
}

#git {
  font-size: 2.5vw
}
